//min width 1200px
@media screen and (min-width: 1200px) {

  //min width 1200px
}

//min width 992px
@media screen and (min-width: 992px) {

  //min width 992px
}

//min width 768px
@media screen and (min-width: 768px) {

  //min width 768px
}

//min width 576px
@media screen and (min-width: 576px) {

  //min width 576px
}
@media screen and (max-width: 1850px) {


  //max width 1550px
}
//max width 1450px
@media screen and (max-width: 1450px) {


  //max width 1450px
}

//max width 1199px
@media screen and (max-width: 1199px) {
  .about-connect-item-email{
    font-size: 18px;
  }
  .about-connect-item-number{
    font-size: 18px;
  }
  .about-connect-item-title{
    font-size: 16px;
  }
  .about-connect-item{
    margin-right: 50px;
  }
  .gallery-info-button{
    margin-top: 90px;
  }
  .gallery-info{
    top: 30px;
    left: 30px;
  }
  .section-two-block-item{
    margin: 10px 5px;
  }
  .section-two-block-item + .section-two-block-item{
    margin: 10px 6px;
  }
  .header-middle-input-search{
    right: 6%;
  }
  .header-bottom-category{
    width: 237px;
  }
  .header-middle-input{
    width: 400px;
    margin-left: 45px;
  }
  //max width 1199px
}

//max width 991px
@media screen and (max-width: 991px){

  //max width 991px
}

@media screen and (max-width: 900px){

}
//max width 767px
@media screen and (max-width: 767px){

  //max width 767px
}

//max width 575px
@media screen and (max-width: 575px) {


  //max width 575px
}

//max width 480px
@media screen and (max-width: 480px) {

  //max width 480px
}

@media screen and (max-width: 400px) {

  //max width 400px
}
